@model IEnumerable<ToDo.Models.Category>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="todo" asp-action="Index" asp-route-categoryId="@item.Id">@item.Name</a>
    </li>
}